// not sure on colour choice

// colours
$white: #f2f2f2;
$lightGrey: #939393;
$red: #ff3d53;
$lighterGrey: #dedede;
$dark: #00234a;
$veryLightGreen: #deedeb;
$lightishGrey: #4c4c4c;

$project1: #581845;
$project2: #900c3f;
$project3: #c70039;
$project4: #ff5733;
$project5: #ffc300;
$project6: #581845;
$project7: #900c3f;
$project8: #c70039;

// z-index
$sky: 2000;
$top: 1000;
$middle: 100;
$bottom: 1;
$underground: -10;

$mianBody: 'Open Sans', sans-serif;
$serifStyle: 'Playfair Display', serif;
$sansSerfifStyle: 'Sansita', sans-serif;

*,
*::after,
*::before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: $mianBody;
	color: #edecf2;
	background: $white;
    font-weight: 200!important;
}

a {
	text-decoration: none;
	color: $dark;
	outline: none;
	transition: color 0.2s;
	&:hover {
		color: $lightishGrey;
		transition: 0.5s;
		border-color: $lightishGrey;
	}
}

h1, h2, h3, h4 {
	text-transform: uppercase;
	text-decoration: none;
	color: $dark;
}

h1 {
	letter-spacing: 1.2px;
	font-family: $sansSerfifStyle;
}

h2 {
	font-size: 25px;
	line-height: 25px;
	letter-spacing: 2.4px;
	text-align: center;
	font-family: $sansSerfifStyle;
}

h3 {
	font-size: 20px;
	line-height: 23px;
	letter-spacing: 2px;
	text-align: center;
	font-family: $sansSerfifStyle;
	text-transform: none;
}

h4 {
	font-size: 15px;
	line-height: 17px;
	letter-spacing: 1.6px;
	font-family: $sansSerfifStyle;
}

p {
	font-size: 14px;
	line-height: 17px;
	color: white;
	margin: 0;
	letter-spacing: 1px;
	font-family: $mianBody;
	widows: 3;
	orphans: 3;
	color: $lightishGrey;
	font-weight: bold;
}

span {
	letter-spacing: 1px;
	font-family: $mianBody;
	font-weight: bold;
	&:hover {
		color: $lightishGrey;
		transition: 0.5s;
		border-color: $lightishGrey;
	}
}
